nav
{

  display: flex;
  justify-content: space-between;
.logo{
  background: url("../images/coffee-cup.svg") center no-repeat;

  width: 60px;
  height: 60px;
  display: block;
}

  .btn-menu{
    display:none;
  }

  ul{
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-between;

    a{
      margin: rem(12);
    }

    li.retour{
      display: none;
    }
  }

}